.products-card {
  background-color: white;
  width: 1100px;
  margin-left: 35rem;
  margin-bottom: 10rem;
}
button {
  background: #00aaff;
  height: 80px;
  width: 560px;
}

button:hover {
  cursor: pointer;
  background-color: #7b17c3;
}

.product-price {
  font-size: 40px;
}

.product-features {
  font-size: 25px;
}
